  <script>
    document.addEventListener('DOMContentLoaded', function() {
    const elems = document.querySelectorAll('.sidenav');
    const instances = M.Sidenav.init(elems);
  });
  </script>

    <nav class="#37474f blue-grey darken-3">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center"> Savory</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/users/<%=user.id%>"><i class="material-icons center">account_box</i><%=user.username.toUpperCase()%></a></li>
                <li><a class="modal-trigger"  href="/recipes">Recipe</a></li>
                <li><a class="modal-trigger"  href="/users/<%=user.id%>/cookbook">My Cookbooks</a></li>
                <li>
                  <form action="/auth/logout" method="post" id='logout'>
                    <a class="modal-trigger" onclick="document.getElementById('logout').submit()">Logout</a>
                  </form>
                </li>
            </ul>

        </div>
    </nav>

            <ul class="sidenav" id="mobile-nav">
                <li><a href="/users/<%=user.id%>"><i class="material-icons center">account_box</i><%=user.username.toUpperCase()%></a></li>
                <li><a class="modal-trigger"  href="/recipes">Recipe</a></li>
                <li><a class="modal-trigger"  href="/users/<%=user.id%>/cookbook">My Cookbooks</a></li>
                <li class='center'>
                  <form action="/auth/logout" method="post" id='logout'>
                    <a class="modal-trigger" onclick="document.getElementById('logout').submit()">Logout</a>
                  </form>
                </li>
            </ul>
