<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

</head>

<body>
  <header>
    <%- include('../partials/nav2') %>
  </header>
  <h5>Saved Recipes</h5>
  <div class='cookbook-container center'>

    <ul>

      <% for(let i = 0; i < cookbook.length; i++){ %>
      <div class="diet-cookbook">
        <li>
          <% const encoded = encodeURIComponent(cookbook[i].uri)%>
          <a href='/recipes/<%=encoded%>'><%=cookbook[i].label%>
            <img class='center' src="<%= cookbook[i].image %>" />
          </a>
          <form action="/recipes/<%=cookbook[i]._id%>?_method=DELETE" method="POST">
            <button type="submit" class="waves-effect waves-light btn #ff5252 red accent-2">Delete</button>
          </form>
        </li>
      </div>
      <% } %>
    </ul>
  </div>


<%- include('../partials/footer') %>
</body>

</html>
