<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
  <script type="text/javascript" defer>
    document.addEventListener('DOMContentLoaded', function() {
      const elems = document.querySelectorAll('.modal');
      const instances = M.Modal.init(elems);
    });
  </script>
</head>
<style>
  .row {
    margin-top: 4rem;    
  }

  .potluck-info {
    height: 7rem;
    display: grid;
    border-radius: 5%;
  }

  .dishes {
    margin: 3rem;
    height: 20rem;
    border-radius: 10%;
  }

  .guests {
    margin: 3rem;
    height: 20rem;
    border-radius: 10%;
  }

  .btn {
    margin-bottom: 12rem;
  }
</style>

<body>
  <header>
    <%- include('../partials/nav2') %>
  </header>
  <div class='row'>
    <div class='potluck-info col s12 m12 l12 center'>
      <h6>Organizer: <span><%=potluck.organizer.username%></span></h6>
      <h6>Date: <span><%=potluck.date%></span></h6>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m6 l6 center'>
      <div class="dishes">
      <h5>Dishes</h5>
      <ul>
        <% for(let i =0; i < potluck.dishes.length; i++) { %>
        <li><%=potluck.dishes[i]%></li>
        <% } %>
      </ul>
      
        <a href="" class="waves-effect waves-light btn #ff5252 red accent-2">Add Dishes</a>
      
      </div>
    </div>
    
    <div class='col s12 m6 l6 center'>
      <div class="guests">
      <h5>Guests</h5>
      <ul>
        <% for(let i =0; i < potluck.guests.length; i++) { %>
        <li><%=potluck.guests[i].username%></li>
        <% } %>
      </ul>
      
        <a href="#modal3" class="waves-effect waves-light btn #ff5252 red accent-2 modal-trigger">Invite Guests</a>
      
      </div>
    </div>
  </div>


  <div id="modal3" class="modal">
        <div class="modal-content center">
          <h5>Invite Friends</h5>
          <form action="/potlucks/<%=potluck.id.toString()%>/inviteFriends" method="post">
            <% for(let i=0; i < user.friends.length; i++) { %>
              <p>
                <label>
                  <input type="checkbox" name="friends" value="<%=user.friends[i].id%>"/>
                  <span><%=user.friends[i].username%></span>
                </label>
              </p>
            <% } %>
            <button type="submit" id="login-btn" class="btn waves-effect waves-light">Submit</button>
          </form>
        </div>
      </div>
</body>

</html>
