<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        <title>Document</title>
    </head>
    <style>
    .potluck-container {
        margin-top: 2em;
    }
    .potluck-info {
        width: 42rem;
        height: 5rem;
        border: 2px solid black;
        display: inline-block;
        border-radius: 5%;
    }
    .dishes {
        width: 20rem;
        height: 30rem;
        margin-right: 3rem;
        border: 2px solid #ff5252;
        display: inline-block;
        border-radius: 10%;
    }
    .guests {
        width: 20rem;
        height: 30rem;
        border: 2px solid #ff5252;
        display: inline-block;
        border-radius: 10%;
    }
    .dishes-create {
        margin-top: 12rem;
    }
    .guests-invite {
        margin-top: 12rem;
    }
    </style>
    <body>
        <header>
            <%- include('../partials/nav2') %>
        </header>
        <div class='potluck-container center'>
            <div class='potluck-info'>
                <h6>Organizer: <span><%=potluck.organizer.username%></span></h6>
                <h6>Date: <span><%=potluck.date%></span></h6>
            </div>
        </div>
        <div class='potluck-container center'>
            <div class="dishes">
                <h5>Dishes</h5>
                <ul>
                  <% for(let i =0; i < potluck.dishes.length; i++) { %>
                    <li><%=potluck.dishes[i]%></li>
                  <% } %>
                </ul>
                <div class='dishes-create center'>
                    <a href="" class="waves-effect waves-light btn #ff5252 red accent-2">Add Dishes</a>
                </div>
            </div>
            <div class="guests">
                <h5>Guests</h5>
                <ul>
                  <% for(let i =0; i < potluck.guests.length; i++) { %>
                    <li><%=potluck.guests[i]%></li>
                  <% } %>
                </ul>
                <div class='guests-invite center'>
                    <a href="" class="waves-effect waves-light btn #ff5252 red accent-2">Invite Guests</a>
                </div>
            </div>
        </div>
    </body>
</html>
