<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script type="text/javascript" defer>
      document.addEventListener('DOMContentLoaded', function() {
      const elems = document.querySelectorAll('.modal');
      const instances = M.Modal.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
      let options = {
        minDate: new Date()
      }
      const elems = document.querySelectorAll('.datepicker');
      const instances = M.Datepicker.init(elems,options);
    });
  </script>
</head>

<body>
  <header>
    <%- include('../partials/nav2') %>
  </header>
  <div class='row pot-row'>
    <div class='potluck-info col s12 m12 l12 center'>
      <h5><%=potluck.name%></h5>
      <h6>Organized By: <span><%=potluck.organizer.username%></span></h6>
      <h6>Date: <span><%=potluck.date.toDateString()%></span></h6>
      <% if(user.id.toString() === potluck.organizer.id.toString()) { %>
        <a href="#modal-edit-info" class="modal-trigger">Edit Info</a>
      <% } %>
    </div>
    <div id="modal-edit-info" class="modal">
      <div class="modal-content center">
        <h5>Edit Potluck info</h5>
        <form action="/potlucks/<%=potluck.id.toString()%>?_method=PUT" method="post">
          <input type="text" name="name" value="<%=potluck.name%>">
          <input type="text" name="date" class="datepicker">
          <button type="submit" class="btn waves-effect waves-light">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class='row pot-row'>
    <div class='col s12 m6 l6 center'>
      <div class="dishes">
        <h5>Dishes</h5>
        <ul>
          <% for(let i =0; i < potluck.dishes.length; i++) { %>
            <li><a href='/recipes/<%=encodeURIComponent(potluck.dishes[i].uri)%>'><%=potluck.dishes[i].label%></a></li>
          <% } %>
        </ul>
        <% if(user.id.toString() === potluck.organizer.id.toString()) { %>
          <a href="#modal-add-dishes" class="waves-effect waves-light btn #ff5252 red accent-2 modal-trigger">Add Dishes</a>
        <% } %>
      </div>

    </div>

    <div class='col s12 m6 l6 center'>
      <div class="guests">
        <h5>Guests</h5>
        <ul>
          <% for(let i =0; i < potluck.guests.length; i++) { %>
            <li><a href="/users/<%=potluck.guests[i].id%>/cookbook"><%=potluck.guests[i].username%></a></li>
          <% } %>
        </ul>
        <% if(user.id.toString() === potluck.organizer.id.toString()) { %>
          <a href="#modal-invite-friends" class="waves-effect waves-light btn #ff5252 red accent-2 modal-trigger">Invite Guests</a>
        <% } %>
      </div>
    </div>
  </div>

  <div id="modal-add-dishes" class="modal">
    <div class="modal-content center">
      <h5>Add Dishes</h5>
      <form action="/potlucks/<%=potluck.id.toString()%>/addDishes" method="post">
        <% for(let i=0; i < user.cookbook.length; i++) { %>
        <p>
          <label>
            <input type="checkbox" name="dishes" value="<%=user.cookbook[i].id%>"
            <% if(potluck.dishes.some(dish => dish.id.toString() === user.cookbook[i].id.toString())) { %>
              checked
            <% } %>
            />
            <span><%=user.cookbook[i].label%></span>
          </label>
        </p>
        <% } %>
        <button type="submit" id="login-btn" class="btn waves-effect waves-light">Submit</button>
      </form>
    </div>
  </div>
  <div id="modal-invite-friends" class="modal">
    <div class="modal-content center">
      <h5>Invite Friends</h5>
      <form action="/potlucks/<%=potluck.id.toString()%>/inviteFriends" method="post">
        <% for(let i=0; i < user.friends.length; i++) { %>
        <p>
          <label>
            <input type="checkbox" name="friends" value="<%=user.friends[i].id%>"
              <% if(potluck.guests.some(guest => guest.id.toString() === user.friends[i].id.toString())) { %>
                checked
              <% } %>
            />
            <span><%=user.friends[i].username%></span>
          </label>
        </p>
        <% } %>
        <button type="submit" id="login-btn" class="pot-btn waves-effect waves-light">Submit</button>
      </form>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>

</html>
