<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav2') %>
  </header>
  <div class="wrapper">
    <form action="/recipes/search" method="POST">
      <div class='input-field'>
        <input id='search-input' type='text' placeholder='Search for recipies' name="searchQuery" autocomplete='off'>
        <label for="search-input"><i class="material-icons search-icon">search</i></label>

      </div>
    </form>
  </div>
  <div class="row res-show">

    <div  class='col s12 m12 l7'>
      <div class="ingredients-recipe"> 
      <h3>Ingredients</h3>
      <ul>

        <% for(let i = 0; i < recipe.data[0].ingredientLines.length; i++){ %>

        <li>
          <%=recipe.data[0].ingredientLines[i]%> <br />
        </li>

        <% } %>
      </ul>
      </div>
    </div>
    <div class="col s12 m12 l5">
      <div class="card">
        <div class="card-image">
          <img src="<%=recipe.data[0].image%>" />
<<<<<<< HEAD

            <form action="/recipes/" method="post">
              <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red pulse">
              <i class="material-icons">favorite</i>
            </button>

          </form>
=======
          <% if(showButton) { %>
            <form action="/recipes/" method="post">
              <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red pulse">
                  <i class="material-icons">favorite</i>
              </button>
            </form>
          <% } %>
>>>>>>> master
        </div>
        
        <div class="card-content">
          <a href='<%=recipe.data[0].url%>' target="_blank"><%=recipe.data[0].label%></a>
        </div>
      </div>
    </div>

  </div>

  <div class='row res-show'>

    <div class="diet-recipe col s12 m12 l12">
      <h3>Diets</h3> <br />
      <h6>Calories</h6>
      <p><%=Math.round(recipe.data[0].calories)%> kcal</p>
      <ul>
        <h6>Diet Labels</h6>
        <% for(let i = 0; i < recipe.data[0].dietLabels.length; i++){ %>

        <li>
          <%=recipe.data[0].dietLabels[i]%>
        </li>

        <% } %>
      </ul>

      <ul>
        <h6>Health Labels</h6>
        <% for(let i = 0; i < recipe.data[0].healthLabels.length; i++){ %>

        <li>
          <%=recipe.data[0].healthLabels[i]%>
        </li>

        <% } %>

      </ul>
    </div>
  </div>
  <div class='cookbook-save center'>
    <form action="/recipes/" method="post">
      <button type="submit" class="waves-effect waves-light res-save #ff5252 red accent-2" <% if(!showButton) { %> disabled <% } %>>Save Recipe</button>
    </form>
  </div>

<%- include('../partials/footer') %>
</body>

</html>
